@charset "utf-8";

* {margin: 0; padding: 0;}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
nav {
    width: 640px;
    margin: 10px auto;
}
nav > ul > li > a {
    height: 35px;
    line-height: 35px;
    background-color: royalblue;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
}

nav .depth02 {
    background-color: #eee;
    padding: 5px 10px;
    display: none;
}
nav .depth02 li {
    line-height: 45px;
    border-bottom: 1px solid #ddd;
}