@charset "utf-8";

* {margin:0; padding:0;}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
    color: #333;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

/* .main_visual 메인비주얼 */
.main_visual {
    height: 100vh;
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
}
.main_visual div {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* .cont01 WEB DESIGN */
.cont01 {
    height: 100vh;
    position: relative;
}
.cont01 img {
    width: 100%;
    height: 100%;
}
.cont01 .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    opacity: 0;
}
.cont01 .title h3 {
    font-size: 200px;
    color: rgba(255, 255, 255, .1);
    position: relative;
    left: -100%;
}
.cont01 article {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont01 article dl {
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    opacity: 0;
}
.cont01 article dl dt {
    width: 100%;
}
.cont01 article dl dd {
    width: 100%;
}